<h1>Users Index</h1>
<% @users.each do |user| %>
  <%= link_to "Show", user_path(user.id) %>
  <% end %>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
